.App {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.canvas {
  height: 100%;
  width: 100%;
}

.stage {
  background-color: #e3c3d6;
  border-radius: 20px;
  height: 400px;
  width: 600px;

}

.state {
  align-items: center;
  border: 3px solid #282c34;
  border-radius: 50%;
  color: #282c34;
  display: flex;
  font-family: 'Gothic A1', sans-serif;
  height: 50px;
  justify-content: center;
  width: 50px;
}